body {
  margin: 0;
  padding: 0;
  background-color: #faf9f8;
}

main {
  margin: 10px 100px;
}

.shift-right {
  margin-left: 320px;
  /* navが開いているときにmainを右に寄せる */
  transition: margin-left 0.3s ease;
}