body {
  margin: 0;
  padding: 0;
  background-color: #faf9f8;
}

main {
  margin: 80px 30px 20px 100px;
  transition: 0.3s;
}

.shift-right {
  margin-left: 330px;
  /* navが開いているときにmainを右に寄せる */
  transition: 0.3s;
}